@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

@font-face {
  font-family: "Europa Bold";
  src: url("../fonts/Europa-Bold.woff2");
}

@font-face {
  font-family: "Europa Regular";
  src: url("../fonts/Europa-Regular.woff2");
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// colors
$experience: #9fd8bb47;
$experience-font: #2f443a;
$education: #b3e5fc4d;
$education-font: #2f3c42;
$skills: #f9f9f9;
$links: #ffe0b259;
$links-font: #4c2d00;
$contact: #a7f7ff14;
$contact-font: #314a4c;

.title {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Europa Bold', sans-serif;
  font-size: 30pt;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

section {
  height: 100vh;
  position: relative;

/*  &:before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: url("../img/decoration.svg");
    height: 50px;
  }

  &:after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: url("../img/decoration.svg");
    height: 50px;
    transform: rotate(180deg);
  }*/

  .body {
    display: flex;
    height: 80vh;
    justify-content: center;

    div {
      align-self: center;
    }
  }
}

body {
  height: 100%;
  width: auto;
  background-color: white;
  color: white;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

hero {
  display: grid;
  grid-template-columns: [void] 10% [hero] 1fr;
  grid-template-rows: [hero] 1fr;
  align-items: center;
  height: 100vh;
  background-color: #1b1b1b;
  -webkit-font-smoothing: antialiased;

  div {
      grid-area: hero;
      color: white;
      align-self: center;
      font-family: 'Europa Bold', sans-serif;
      font-size: 4vw;
      margin: 0;
      //white-space: nowrap;

      /*@include for-phone-only {
        font-size: 9vw;
      }

      @include for-tablet-portrait-up {
        font-size: 6vw;
      }

      @include for-desktop-up {
        font-size: 4vw;
      }*/
  }

  #scroll {
    display: flex;
    position: absolute;
    bottom: 5vh;
    width: 100%;
    justify-content: center;

    #arrow {
      height: 75px;
      width: 75px;
      color: white;
      filter: opacity(0.8);
      transition: 0.2s ease-in;

      &:hover {
        filter: opacity(1);
      }
    }
  }

  #name {

    @include for-phone-only {
      font-size: 50px;
    }

    @include for-tablet-portrait-up {
      font-size: 75px;
    }

    @include for-tablet-landscape-up {
      font-size: 100px;
    }
  }

  #work {
    font-size: 50px;

    @include for-phone-only {
      font-size: 25px;
    }
  }
}

#blink {
  animation: blinking 1s step-end infinite;
  text-shadow: none;
  left: 0px;
  position: relative;
  bottom: 5px;
}

@keyframes blinking {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.particles-js-canvas-el {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

#experience {
  color: $experience-font;
  background-color: $experience;

  .title {
    &:before {
      position: relative;
      content: url("../img/work.svg");
      margin-right: 10px;
    }
  }

  .timeline {
    display: grid;
    height: 400px;
    grid-template-columns: [left] 1fr [right] 1fr;
    grid-template-rows: [top] 1fr [bottom] 1fr [void] 20%;

    #dashed {
      border-right: 2px black dashed;
      grid-row: 1 / 3;
      grid-column: left;
    }

    #left {
      grid-column: left;
      justify-self: end;
      align-self: end;
      grid-row: top;
      margin-bottom: 40px;
      position: relative;

      &:before {
        position: absolute;
        content: "Fin Mai 2018";
        top: -6px;
        right: -120px;
        color: change_color($experience-font, $alpha: 0.9);
        font-size: 14pt;
      }

      &:after {
        position: absolute;
        content: "Juin 2018";
        bottom: -6px;
        right: -95px;
        color: change_color($experience-font, $alpha: 0.9);
        font-size: 14pt;
      }

      .entry {
        border-right: 2px solid black;
        display: inline-block;
        line-height: 30px;
        padding: 0 20px;
        position: relative;
        text-align: right;
        font-size: 14pt;

        p {
          margin: 0;
        }

        a {
          text-decoration: none;
          color: inherit;
        }

        .company {
          font-weight: bold;
          font-size: 18pt;

          &:after {
            content: " ";
            background-image: url('../img/redirect.svg');
            background-size: cover;
            position: relative;
            width: 20px;
            height: 20px;
            display: none;
            margin-left: 2px;
            bottom: -2px;
          }

          &:hover {
            text-decoration: underline black solid;
            &:after {
              display: inline-block;
            }
          }
        }

        &:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: black;
          border-radius: 50%;
          z-index: 1;
          right: -6px;
        }

        &:after {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: black;
          border-radius: 50%;
          z-index: 1;
          right: -6px;
          bottom: 0;
        }
      }
    }

    #right {
      grid-column: right;
      justify-self: start;
      align-self: start;
      grid-row: bottom;
      position: relative;
      margin-top: 40px;

      &:before {
        position: absolute;
        content: "Janvier 2019";
        font-size: 14pt;
        top: -6px;
        left: -120px;
        color: change_color($experience-font, $alpha: 0.9);
      }

      &:after {
        position: absolute;
        content: "Début Mars 2019";
        bottom: -6px;
        left: -160px;
        color: change_color($experience-font, $alpha: 0.9);
        font-size: 14pt;
      }

      .entry {
        border-left: 2px solid black;
        display: inline-block;
        line-height: 30px;
        padding: 0 20px;
        position: relative;
        right: 2px;
        font-size: 14pt;

        a {
          text-decoration: none;
          color: inherit;
        }

        .company {
          font-weight: bold;
          font-size: 18pt;

          &:after {
            content: " ";
            background-image: url('../img/redirect.svg');
            background-size: cover;
            position: relative;
            width: 20px;
            height: 20px;
            display: none;
            margin-left: 2px;
            bottom: -2px;
          }

          &:hover {
            text-decoration: underline black solid;
            &:after {
              display: inline-block;
            }
          }
        }

        p {
          margin: 0;
        }

        &:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: black;
          border-radius: 50%;
          z-index: 1;
          left: -6px;
        }

        &:after {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: black;
          border-radius: 50%;
          z-index: 1;
          left: -6px;
          bottom: 0;
        }
      }
    }
  }
}

#education {
  color: $education-font;
  background-color: $education;

  .title {
    &:before {
      position: relative;
      content: url("../img/class.svg");
      margin-right: 10px;
    }

    /* &:after {
       height: 2px;
       display: block;
       width: 100%;
       background: #ececec;
       content: "";
     }*/
  }

  .body {
    display: flex;
    font-size: 16pt;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;

    * {
      align-items: center;
    }

    #bac {
      justify-self: right;
    }

    #bts {
      justify-self: left;

      img {
        width: 85px;
        height: 85px;
      }
    }

    div {
      display: flex;
      justify-content: flex-end;

      img {
        width: 100px;
        height: 100px;
      }

      ul {
        list-style: none;
        margin-left: 15px;
        padding-left: 0;

        li:first-child {
          font-size: larger;
        }

        li:not(:first-child) {
          color: #353535;
        }
      }
    }
  }
}

#skills {
  color: darken($skills, 70%);
  background-color: $skills;

  .title {
    &:before {
      position: relative;
      content: url("../img/skills.svg");
      margin-right: 10px;
    }

    /* &:after {
       height: 2px;
       display: block;
       width: 100%;
       background: #ececec;
       content: "";
     }*/
  }

  .body {
    justify-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;

    @include for-desktop-up {
      margin: 0 15%;
    }

    @include for-tablet-landscape-up {
      margin: 0 10%;
    }

    div {
      display: inherit;
      flex-direction: column;
      flex: 1 1 15%;
      align-items: center;
      height: 200px;
      margin: 0 5%;
      justify-content: center;

      img {
        height: 125px;
      }
    }

    #php {
      img {
        width: 130px;
      }
    }

    #csharp {
      img {
        width: 75px;
      }
    }

    #go {
      img {
        width: 125px;
      }
    }

    #git {
      img {
        width: 75px;
      }
    }

    #javascript {
      img {
        width: 85px;
      }
    }

    #mysql {
      img {
        width: 80px;
      }
    }

    #htmlcss {
      display: flex;
      flex-direction: row;

      div {
        display: inherit;
        flex-direction: column;

        img {
          width: 75px;
        }
      }
    }
  }
}

#links {

  color: $links-font;
  background-color: $links;

  .title {
    &:before {
      position: relative;
      content: url("../img/link.svg");
      margin-right: 10px;
    }

    /* &:after {
       height: 2px;
       display: block;
       width: 100%;
       background: #ececec;
       content: "";
     }*/
  }

  .body {
    div {
      height: 250px;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-areas: "linkedin void gitlab";
      grid-template-columns: [linkedin] 1fr [void] 10% [gitlab] 1fr;
      -webkit-font-smoothing: antialiased;
      font-size: 18px;

      a {
        background-color: white;
        width: 150px;
        height: 180px;
        text-align: center;
        vertical-align: middle;
        color: black;
        border-radius: 6px;
        font-size: 1.3em;
        transition: 0.2s;
        text-decoration: none;
        grid-row: links;
        box-shadow: #0000000A 5px 5px 20px 0px;

        &:hover {
          background-color: black;
          color: white;
          box-shadow: #00000028 5px 5px 20px 0px;

          img {
            filter: invert(100%);
          }
        }
      }

      #linkedin {
        display: grid;
        justify-self: end;
        grid-area: linkedin;

        img {
          height: 80px;
          grid-row: 1;
          justify-self: center;
          align-self: center;
          padding-top: 10px;
        }

        span {
          grid-row: 2;
        }
      }

      #gitlab {
        display: grid;
        justify-self: start;
        grid-area: gitlab;

        img {
          height: 80px;
          grid-row: 1;
          justify-self: center;
          align-self: center;
          padding-top: 10px;
        }

        span {
          grid-row: 2;
        }
      }
    }
  }
}

#projects {
  color: black;
  background-color: white;

  .title {
    &:before {
      position: relative;
      content: url("../img/projects.svg");
      margin-right: 10px;
    }
  }

  .body {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 400px;
    grid-template-columns: [left] 1fr [right] 1fr;
    grid-template-rows: [body] 1fr;
  }
}

#contact {
  color: $contact-font;
  background-color: $contact;

  .title {
    &:before {
      position: relative;
      content: url("../img/contact.svg");
      margin-right: 10px;
    }
  }

  .body {
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0 15%;

    form {
      width: 50%;
      display: flex;
      flex-direction: column;

      div {
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        justify-content: flex-end;
      }
    }

    input, textarea {
      color: black;
      font-size: inherit;
      font-family: inherit;
      background-color: transparent;
      border: 1px solid transparent;
      border-bottom-color: hsla(0, 0%, 0%, 0.15);

      &::placeholder {
        color: rgba(0, 0, 0, 0.51);
      }

      &:focus {
        outline: none;

        & ~ span {
          transform-origin: bottom left;
          transform: scaleX(1);
        }
      }
    }

    input {
      width: 100%;
      height: 40px;
    }

    textarea {
      width: 100%;
      height: 100px;
    }

    span {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.5);
      transform-origin: bottom right;
      transform: scaleX(0);
      transition: transform 0.5s ease;
    }

    button[type="submit"] {
      z-index: 1;
      position: relative;
      font-size: inherit;
      font-family: inherit;
      color: white;
      padding: 0.5em 1em;
      outline: none;
      border-radius: 5px;
      border: none;
      background-color: hsl(240, 1%, 16%);

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #4f4b4e;
        transform-origin: top right;
        transform: scaleX(0);
        transition: transform 0.25s ease-in-out;
      }

      &:hover {
        cursor: pointer;

        &::before {
          transform-origin: top left;
          transform: scaleX(1);
        }
      }
    }
  }
}

footer {
  background-color: black;
  display: flex;
  height: 50px;
  align-items: center;
  font-size: 18px;

  #copyright {
    width: 100%;
    padding-left: 15%;
  }

  #version {
    padding-right: 15%;
  }
}