@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
@font-face {
  font-family: "Europa Bold";
  src: url("../fonts/Europa-Bold.woff2");
}
@font-face {
  font-family: "Europa Regular";
  src: url("../fonts/Europa-Regular.woff2");
}
.title {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Europa Bold", sans-serif;
  font-size: 30pt;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

section {
  height: 100vh;
  position: relative;
  /*  &:before {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      content: url("../img/decoration.svg");
      height: 50px;
    }

    &:after {
      position: absolute;
      bottom: 0;
      right: 0;
      content: url("../img/decoration.svg");
      height: 50px;
      transform: rotate(180deg);
    }*/
}
section .body {
  display: flex;
  height: 80vh;
  justify-content: center;
}
section .body div {
  align-self: center;
}

body {
  height: 100%;
  width: auto;
  background-color: white;
  color: white;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

hero {
  display: grid;
  grid-template-columns: [void] 10% [hero] 1fr;
  grid-template-rows: [hero] 1fr;
  align-items: center;
  height: 100vh;
  background-color: #1b1b1b;
  -webkit-font-smoothing: antialiased;
}
hero div {
  grid-area: hero;
  color: white;
  align-self: center;
  font-family: "Europa Bold", sans-serif;
  font-size: 4vw;
  margin: 0;
  /*@include for-phone-only {
    font-size: 9vw;
  }

  @include for-tablet-portrait-up {
    font-size: 6vw;
  }

  @include for-desktop-up {
    font-size: 4vw;
  }*/
}
hero #scroll {
  display: flex;
  position: absolute;
  bottom: 5vh;
  width: 100%;
  justify-content: center;
}
hero #scroll #arrow {
  height: 75px;
  width: 75px;
  color: white;
  filter: opacity(0.8);
  transition: 0.2s ease-in;
}
hero #scroll #arrow:hover {
  filter: opacity(1);
}
@media (max-width: 599px) {
  hero #name {
    font-size: 50px;
  }
}
@media (min-width: 600px) {
  hero #name {
    font-size: 75px;
  }
}
@media (min-width: 900px) {
  hero #name {
    font-size: 100px;
  }
}
hero #work {
  font-size: 50px;
}
@media (max-width: 599px) {
  hero #work {
    font-size: 25px;
  }
}

#blink {
  animation: blinking 1s step-end infinite;
  text-shadow: none;
  left: 0px;
  position: relative;
  bottom: 5px;
}

@keyframes blinking {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.particles-js-canvas-el {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

#experience {
  color: #2f443a;
  background-color: #9fd8bb47;
}
#experience .title:before {
  position: relative;
  content: url("../img/work.svg");
  margin-right: 10px;
}
#experience .timeline {
  display: grid;
  height: 400px;
  grid-template-columns: [left] 1fr [right] 1fr;
  grid-template-rows: [top] 1fr [bottom] 1fr [void] 20%;
}
#experience .timeline #dashed {
  border-right: 2px black dashed;
  grid-row: 1/3;
  grid-column: left;
}
#experience .timeline #left {
  grid-column: left;
  justify-self: end;
  align-self: end;
  grid-row: top;
  margin-bottom: 40px;
  position: relative;
}
#experience .timeline #left:before {
  position: absolute;
  content: "Fin Mai 2018";
  top: -6px;
  right: -120px;
  color: rgba(47, 68, 58, 0.9);
  font-size: 14pt;
}
#experience .timeline #left:after {
  position: absolute;
  content: "Juin 2018";
  bottom: -6px;
  right: -95px;
  color: rgba(47, 68, 58, 0.9);
  font-size: 14pt;
}
#experience .timeline #left .entry {
  border-right: 2px solid black;
  display: inline-block;
  line-height: 30px;
  padding: 0 20px;
  position: relative;
  text-align: right;
  font-size: 14pt;
}
#experience .timeline #left .entry p {
  margin: 0;
}
#experience .timeline #left .entry a {
  text-decoration: none;
  color: inherit;
}
#experience .timeline #left .entry .company {
  font-weight: bold;
  font-size: 18pt;
}
#experience .timeline #left .entry .company:after {
  content: " ";
  background-image: url("../img/redirect.svg");
  background-size: cover;
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 2px;
  bottom: -2px;
}
#experience .timeline #left .entry .company:hover {
  text-decoration: underline black solid;
}
#experience .timeline #left .entry .company:hover:after {
  display: inline-block;
}
#experience .timeline #left .entry:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  z-index: 1;
  right: -6px;
}
#experience .timeline #left .entry:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  z-index: 1;
  right: -6px;
  bottom: 0;
}
#experience .timeline #right {
  grid-column: right;
  justify-self: start;
  align-self: start;
  grid-row: bottom;
  position: relative;
  margin-top: 40px;
}
#experience .timeline #right:before {
  position: absolute;
  content: "Janvier 2019";
  font-size: 14pt;
  top: -6px;
  left: -120px;
  color: rgba(47, 68, 58, 0.9);
}
#experience .timeline #right:after {
  position: absolute;
  content: "Début Mars 2019";
  bottom: -6px;
  left: -160px;
  color: rgba(47, 68, 58, 0.9);
  font-size: 14pt;
}
#experience .timeline #right .entry {
  border-left: 2px solid black;
  display: inline-block;
  line-height: 30px;
  padding: 0 20px;
  position: relative;
  right: 2px;
  font-size: 14pt;
}
#experience .timeline #right .entry a {
  text-decoration: none;
  color: inherit;
}
#experience .timeline #right .entry .company {
  font-weight: bold;
  font-size: 18pt;
}
#experience .timeline #right .entry .company:after {
  content: " ";
  background-image: url("../img/redirect.svg");
  background-size: cover;
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 2px;
  bottom: -2px;
}
#experience .timeline #right .entry .company:hover {
  text-decoration: underline black solid;
}
#experience .timeline #right .entry .company:hover:after {
  display: inline-block;
}
#experience .timeline #right .entry p {
  margin: 0;
}
#experience .timeline #right .entry:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  z-index: 1;
  left: -6px;
}
#experience .timeline #right .entry:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  z-index: 1;
  left: -6px;
  bottom: 0;
}

#education {
  color: #2f3c42;
  background-color: #b3e5fc4d;
}
#education .title {
  /* &:after {
     height: 2px;
     display: block;
     width: 100%;
     background: #ececec;
     content: "";
   }*/
}
#education .title:before {
  position: relative;
  content: url("../img/class.svg");
  margin-right: 10px;
}
#education .body {
  display: flex;
  font-size: 16pt;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}
#education .body * {
  align-items: center;
}
#education .body #bac {
  justify-self: right;
}
#education .body #bts {
  justify-self: left;
}
#education .body #bts img {
  width: 85px;
  height: 85px;
}
#education .body div {
  display: flex;
  justify-content: flex-end;
}
#education .body div img {
  width: 100px;
  height: 100px;
}
#education .body div ul {
  list-style: none;
  margin-left: 15px;
  padding-left: 0;
}
#education .body div ul li:first-child {
  font-size: larger;
}
#education .body div ul li:not(:first-child) {
  color: #353535;
}

#skills {
  color: #474747;
  background-color: #f9f9f9;
}
#skills .title {
  /* &:after {
     height: 2px;
     display: block;
     width: 100%;
     background: #ececec;
     content: "";
   }*/
}
#skills .title:before {
  position: relative;
  content: url("../img/skills.svg");
  margin-right: 10px;
}
#skills .body {
  justify-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 18px;
}
@media (min-width: 1200px) {
  #skills .body {
    margin: 0 15%;
  }
}
@media (min-width: 900px) {
  #skills .body {
    margin: 0 10%;
  }
}
#skills .body div {
  display: inherit;
  flex-direction: column;
  flex: 1 1 15%;
  align-items: center;
  height: 200px;
  margin: 0 5%;
  justify-content: center;
}
#skills .body div img {
  height: 125px;
}
#skills .body #php img {
  width: 130px;
}
#skills .body #csharp img {
  width: 75px;
}
#skills .body #go img {
  width: 125px;
}
#skills .body #git img {
  width: 75px;
}
#skills .body #javascript img {
  width: 85px;
}
#skills .body #mysql img {
  width: 80px;
}
#skills .body #htmlcss {
  display: flex;
  flex-direction: row;
}
#skills .body #htmlcss div {
  display: inherit;
  flex-direction: column;
}
#skills .body #htmlcss div img {
  width: 75px;
}

#links {
  color: #4c2d00;
  background-color: #ffe0b259;
}
#links .title {
  /* &:after {
     height: 2px;
     display: block;
     width: 100%;
     background: #ececec;
     content: "";
   }*/
}
#links .title:before {
  position: relative;
  content: url("../img/link.svg");
  margin-right: 10px;
}
#links .body div {
  height: 250px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas: "linkedin void gitlab";
  grid-template-columns: [linkedin] 1fr [void] 10% [gitlab] 1fr;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}
#links .body div a {
  background-color: white;
  width: 150px;
  height: 180px;
  text-align: center;
  vertical-align: middle;
  color: black;
  border-radius: 6px;
  font-size: 1.3em;
  transition: 0.2s;
  text-decoration: none;
  grid-row: links;
  box-shadow: #0000000A 5px 5px 20px 0px;
}
#links .body div a:hover {
  background-color: black;
  color: white;
  box-shadow: #00000028 5px 5px 20px 0px;
}
#links .body div a:hover img {
  filter: invert(100%);
}
#links .body div #linkedin {
  display: grid;
  justify-self: end;
  grid-area: linkedin;
}
#links .body div #linkedin img {
  height: 80px;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  padding-top: 10px;
}
#links .body div #linkedin span {
  grid-row: 2;
}
#links .body div #gitlab {
  display: grid;
  justify-self: start;
  grid-area: gitlab;
}
#links .body div #gitlab img {
  height: 80px;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  padding-top: 10px;
}
#links .body div #gitlab span {
  grid-row: 2;
}

#projects {
  color: black;
  background-color: white;
}
#projects .title:before {
  position: relative;
  content: url("../img/projects.svg");
  margin-right: 10px;
}
#projects .body {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 400px;
  grid-template-columns: [left] 1fr [right] 1fr;
  grid-template-rows: [body] 1fr;
}

#contact {
  color: #314a4c;
  background-color: #a7f7ff14;
}
#contact .title:before {
  position: relative;
  content: url("../img/contact.svg");
  margin-right: 10px;
}
#contact .body {
  display: flex;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 0 15%;
}
#contact .body form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#contact .body form div {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: flex-end;
}
#contact .body input, #contact .body textarea {
  color: black;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}
#contact .body input::placeholder, #contact .body textarea::placeholder {
  color: rgba(0, 0, 0, 0.51);
}
#contact .body input:focus, #contact .body textarea:focus {
  outline: none;
}
#contact .body input:focus ~ span, #contact .body textarea:focus ~ span {
  transform-origin: bottom left;
  transform: scaleX(1);
}
#contact .body input {
  width: 100%;
  height: 40px;
}
#contact .body textarea {
  width: 100%;
  height: 100px;
}
#contact .body span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
#contact .body button[type=submit] {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #282829;
}
#contact .body button[type=submit]:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4f4b4e;
  transform-origin: top right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
#contact .body button[type=submit]:hover {
  cursor: pointer;
}
#contact .body button[type=submit]:hover::before {
  transform-origin: top left;
  transform: scaleX(1);
}

footer {
  background-color: black;
  display: flex;
  height: 50px;
  align-items: center;
  font-size: 18px;
}
footer #copyright {
  width: 100%;
  padding-left: 15%;
}
footer #version {
  padding-right: 15%;
}

/*# sourceMappingURL=style.css.map */
