<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{{ .Status }} {{ .Message }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/ico" href="../assets/favicon.ico"/>
    </head>
    <body>
        {{ .Status }} {{ .Message }}
        <br/>
        <a href="/">Retourner à la page d'accueil</a>
    </body>
</html>