<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Baptiste Hardy</title>
        <meta name="description" content="Baptiste HARDY - CV">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/ico" href="../assets/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    </head>
    <body>
        <hero id="particles">
            <div>
                <div id="name">Baptiste Hardy</div>
                <div id="work">Développeur Web<span id="blink">_</span></div>
            </div>
            <div id="scroll">
                <img id="arrow" alt="arrow" src="../assets/img/arrow-down.svg"/>
            </div>
        </hero>
        <section id="experience">
            <div class="title">
                <div>Mon expérience</div>
            </div>
            <div class="body">
                <div class="timeline">
                    <div id="dashed"></div>
                    <div id="left">
                        <div class="entry">
                            <a class="company" href="https://cmin.fr" rel="noopener" target="_blank">C'MIN</a>
                            <p>Etudiant stagiaire</p>
                            <p>Développement de plugins CENTREON</p>
                        </div>
                    </div>
                    <div id="right">
                        <div class="entry">
                            <a class="company" href="http://ateliersduroi.com" rel="noopener" target="_blank">Les Ateliers du R.O.I</a>
                            <p>Etudiant stagiaire</p>
                            <p>Développement d'un site de gestion</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="education">
            <div class="title">
                <div>Mes diplômes</div>
            </div>
            <div class="body">
                <div id="bac">
                    <img src="../assets/img/bac.png" alt="Baccalauréat"/>
                    <ul class="text">
                        <li><strong>Baccalauréat <abbr title="Sciences et technologies du management et de la gestion">STMG</abbr></strong></li>
                        <li>spécialité <abbr title="Systèmes d'information de gestion">SIG</abbr></li>
                        <li>2017</li>
                    </ul>
                </div>
                <div id="bts">
                    <img src="../assets/img/diploma.png" alt="BTS"/>
                    <ul>
                        <li><strong>BTS <abbr title="Services informatiques aux organisations">SIO</abbr></strong></li>
                        <li>spécialité <abbr title="Solutions logicielles et applications métiers">SLAM</abbr></li>
                        <li>2017 - <i>En cours</i></li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="skills">
            <div class="title">
                <div>Mes compétences</div>
            </div>
            <div class="body">
                <div id="php">
                    <img src="../assets/img/lang/php.svg" alt="PHP"/>
                    <span>PHP</span>
                </div>
                <div id="javascript">
                    <img src="../assets/img/lang/javascript.svg" alt="Javascript"/>
                    <span>Javascript</span>
                </div>
                <div id="htmlcss">
                    <div id="html">
                        <img src="../assets/img/lang/html.svg" alt="HTML"/>
                        <span>HTML</span>
                    </div>
                    <div id="css">
                        <img src="../assets/img/lang/css.svg" alt="CSS"/>
                        <span>CSS</span>
                    </div>
                </div>
                <div id="csharp">
                    <img src="../assets/img/lang/csharp.svg" alt="C#"/>
                    <span>C#</span>
                </div>
                <div id="go">
                    <img src="../assets/img/lang/go.svg" alt="Go"/>
                    <span>Go</span>
                </div>
                <div id="mysql">
                    <img src="../assets/img/lang/mysql.svg" alt="MySQL"/>
                    <span>MySQL</span>
                </div>
                <div id="git">
                    <img src="../assets/img/lang/git.svg" alt="Git"/>
                    <span>Git</span>
                </div>
            </div>
        </section>
        {{/*<section id="projects">
            <div class="title">Mes projets</div>
            <div class="body"></div>
        </section>*/}}
        <section id="links">
            <div class="title">Liens</div>
            <div class="body">
                <div>
                    <a href="https://www.linkedin.com/in/baptiste-hardy/" rel="noopener" target="_blank" id="linkedin">
                        <img src="../assets/img/linkedin.png" alt="LinkedIn"/>
                        <span>LinkedIn</span>
                    </a>
                    <a href="https://gitlab.com/baptistehardy" rel="noopener" target="_blank" id="gitlab">
                        <img src="../assets/img/gitlab.svg" alt="GitLab"/>
                        <span>GitLab</span>
                    </a>
                </div>
            </div>
        </section>
        {{/*<section id="interests">Food, anime, discovering new things everyday...</section>*/}}
        <section id="contact">
            <div class="title">Contact</div>
            <div class="body">
                <form action="https://formspree.io/baptistehardy.dev@gmail.com" method="POST">
                    <div>
                        <label for="email"></label>
                        <input id="email" type="email" name="_replyto" placeholder="Votre email" />
                        <span></span>
                    </div>
                    <div>
                        <label for="subject"></label>
                        <input id="subject" type="text" name="_subject" placeholder="Objet du message"/>
                        <span></span>
                    </div>
                    <div>
                        <label for="message"></label>
                        <textarea id="message" name="message" placeholder="Votre message"></textarea>
                        <span></span>
                    </div>
                    <div>
                        <input type="text" name="_gotcha" style="display:none; margin-bottom: 0px !important;"/>
                    </div>
                    <div>
                        <button type="submit" value="send">Envoyer</button>
                    </div>
                </form>
            </div>
        </section>
        <footer>
            <div id="copyright">© 2019 Baptiste Hardy</div>
            <div id="version">v0.2</div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        {{/*<script src="../assets/js/lax.min.js"></script>*/}}
        <script src="../assets/js/app.js"></script>
    </body>
</html>